.mainHeader {
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 0px 4.5rem;
    padding: 25px 10px 10px 10px;
}

.inputLogin{
    display: flex;
    max-width: 900px;
    width: 900px;
    justify-content: space-between;
    align-items:center;
    
}




.lupaBtn{
    position:absolute;
    right: 5px;
    top: 30%; 
    border: none; 
    cursor: pointer;
    background: none;  
    
    
}
.btnLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.75rem;
    height: 2.25rem;
    background-color: #1308da;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000;
    font-size: 18px;
    color: #fff;
}

.btnLogin {
    cursor: pointer;
}




/** MEDIA QUERY */


@media (max-width: 1100px) {


    .btnLogin{
        width: 9rem;
        
    }
}

@media (max-width: 840px) {


    .btnLogin{
        width: 9rem;
        
    }

    .mainHeader{
        flex-direction: column;
    }

    .inputLogin{
        width: 35rem;
    }


}
