.App {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#light{
    background-color: #eeeeee;
}

#dark{
    background-color: #020130;
}

.switch{
    display: flex;
    width: 100vw;
    height: 20px;
    justify-content: center;
    align-items: center;
}