@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {

  font-family: 'Roboto', sans-serif;
}


.light-mode {
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Light text color */
}

.dark-mode {
  background-color: #1a1a1a; /* Dark background color */
  color: #ffffff; /* Dark text color */
}

