.inputBox{
    display: flex;
    position: relative;
    justify-content: center;
    width: 31.25rem;
    height: 3.9375rem;
    
}

.searchInput{
    border: black 3px solid;
    width: 31.25rem;
    height: 3.9375rem;
    padding: 0 16px
}